body {
	background-color: #fbddd2;
}
body #footer{
	background-color: #fbddd2;
	    padding-top: 2em;
	    margin-top: 0 !important;
}
body header{
	line-height: 2.4;
}
#header .logo-wrapper{
	font-family: auto;
}

#main {
 background-color: #c8c0d0;
 background-image: linear-gradient(rgba(232,216,216,.3) 1px, transparent 0), linear-gradient(90deg, rgba(232,216,216,.3) 1px, transparent 0), linear-gradient(rgba(232,216,216,.3) 1px, transparent 0), linear-gradient(90deg, rgba(232,216,216,.3) 1px, transparent 0);
 background-size: 50px 50px, 50px 50px;
}

#content article{
	background-color: #f7f0ea;
}

blockquote {
	background-color: #f7f0ea !important;

}